/* 🚀 [최종 크기: 40px] 큐알코드 닫기 버튼 스타일 */
.qrcode-close-button {
    /* 크기 조정: 40px */
    height: 40px !important; 
    width: 85px !important; /* 가로 길이 조정 */
    
    background-color: #4F99B2 !important; 
    color: white !important; 
    border-radius: 5px !important; 
    
    /* 폰트 크기 조정: 16px */
    border: none !important;
    cursor: pointer !important;
    font-size: 16px !important; 
    font-weight: bold !important;
    
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 10px !important;
    
    margin-top: 20px !important;
}

.qrcode-close-button:hover {
    background-color: #63adc7 !important; /* 호버 효과 */
}
